[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "momentum_env"
version = "0.1.6"
description = "A flexible trading environment for reinforcement learning"
authors = [
  { name="Erik Veenhuis" },
]
readme = "README.md"
license = { text = "MIT" }
requires-python = ">=3.13"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
    "gymnasium==1.2.1",
    "numpy==2.3.4",
    "pandas==2.3.3",
    "matplotlib==3.10.7",
    "momentum-core==0.1.0"
]

[project.optional-dependencies]
dev = [
    "black==25.9.0",
    "build==1.3.0",
    "flake8==7.3.0",
    "isort==7.0.0",
    "mypy==1.18.2",
    "pytest==8.4.2",
    "twine==6.2.0",
]

[project.urls]
"Homepage" = "https://github.com/your_username/momentum-trader"
"Bug Tracker" = "https://github.com/your_username/momentum-trader/issues"

[tool.setuptools.packages.find]
where = ["src"]

[tool.black]
line-length = 88
target-version = ['py313']
include = '\.pyi?$'

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.mypy]
python_version = "3.13"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
check_untyped_defs = true

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = ["test_*.py"]
addopts = "-ra -q"
